@use "utils/variables";

.offer-layout {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    &__loading {
        margin: 3rem auto;
        animation: scale 1s linear infinite;
        color: variables.$primary-color;
        font-weight: 900;

        @keyframes scale {
            0% {
                transform: scale(1);
            }

            100% {
                transform: scale(2);
            }
        }
    }

    @media screen and (min-width: 768px) {
        margin: 0 auto;
        width: 75%;
        flex-direction: row;
        gap: 2rem;
    }

    @media screen and (min-width: 1440px) {
        margin: 0 auto;
        width: 50%;
        gap: 3rem;
    }
}
