@use "../../utils/variables";

.form {
    margin: 1rem auto;
    position: relative;
    width: 50%;

    &__input {
        padding: 0.4rem 3rem 0.4rem 0.5rem;
        width: 100%;

        &:focus {
            outline: none;
        }

        &--submit {
            position: absolute;
            height: 2rem;
            right: 0;
            padding: 0.5rem;
            border: none;
            background-color: transparent;
            border-left: 1px solid variables.$tertiary-color;
        }
    }

    @media screen and (min-width: 768px) {
        width: 40%;
    }

    @media screen and (min-width: 1440px) {
        width: 25%;
    }
}
