@use '../../utils/variables';

.admin {
    height: 100%;
    padding: 16px;
    max-width: 1280px;
    margin: 0 auto;

    &__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: center;
        margin-top: 16px;

        &:not(:first-child) {
            margin-top: 32px;
        }
    }

    &__card {
        padding: 16px;
        background-color: white;
        border-radius: 10px;
        flex-basis: 100%;
        background-color: #F7F9FB;

        @media screen and (min-width: 768px) {
            flex-basis: calc(100% / 3 - 12px);
        }

        &--full {
            flex-basis: 100%;
        }

        &--stats {
            text-align: center;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        font-size: 24px;
        color: variables.$primary-color;

        &:hover {
            cursor: pointer;
        }
    }

    &__price {
        margin-top: 8px;
        font-size: 16px;
        color: variables.$primary-color;
    }

    &__description {
        display: -webkit-box;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        font-size: 16px;
    }

    &__email,
    &__location,
    &__phoneNumber {
        margin-top: 8px;
        font-size: 14px;
    }

    &__description,
    &__email,
    &__publicationDate,
    &__buttons {
        margin-top: 16px;
    }

    &__publicationDate {
        font-size: 12px;
    }

    &__button {
        padding: 8px 16px;
        background-color: variables.$tertiary-color;
        color: white;
        border: none;

        &:not(:first-child) {
            margin-left: 4px;
        }

        &:hover {
            cursor: pointer;
        }
    }
}