@use "../../utils/variables";

.wrapper {
    width: 100%;
    min-height: 10rem;
    padding: 2rem 0.5rem;

    .wrapper-title {
        text-align: center;
    }

    .offers {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
        margin-top: 1rem;
    }

    .offer-card {
        background-color: variables.$primary-color;
        color: variables.$quaternary-color;
        flex-basis: 45%;
        min-height: 200px;
        overflow: hidden;
        border-radius: 10px;

        &:hover {
            cursor: pointer;
        }

        &__body {
            padding: 0.5rem;
            overflow-wrap: break-word;
        }

        &__name,
        &__price,
        &__location,
        &__date {
            margin: 0.35rem 0;

            &--bold {
                font-weight: 900;
            }

            &--golden {
                color: variables.$secondary-color;
            }
        }

        @media screen and (min-width: 768px) {
            & {
                flex-basis: 30%;
            }
        }

        @media screen and (min-width: 1440px) {
            & {
                flex-basis: 15%;
            }
        }
    }
}
