@use "utils/variables";

.favorites {
  margin: 2rem 0;

  &__title {
    text-align: center;
    color: variables.$primary-color;
  }

  &__loading {
    margin-top: 1rem;
    color: variables.$tertiary-color;
    animation: pulse 3s infinite;
    text-align: center;
  }

  &__info {
    margin-top: 1rem;
    color: variables.$tertiary-color;
    text-align: center;
  }

  .offers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;
  }

  @keyframes pulse {
    0% {
      transform: scale(0.75);
    }

    50% {
      transform: scale(1.25);
    }

    100% {
      transform: scale(0.75);
    }
  }
}
