.wrapper {
    width: 100%;
    min-height: 10rem;
    background-color: white;

    .categories {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 1rem;

        &__heading {
            margin-top: 0.5rem;
        }
    }

    .category-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        margin-top: 1.5rem;
        overflow: auto;
        gap: 1.5rem;

        &__item {
            list-style-type: none;
            text-align: center;
        }

        &__image-wrapper {
            border-radius: 50%;
            height: 75px;
            width: 75px;
        }

        &__image {
            border-radius: 100%;
        }

        &__name {
        }
    }

    @media screen and (min-width: 768px) {
        .categories {
            width: 75%;
            margin: 0 auto;
        }

        .category-list {
            overflow: hidden;
        }
    }

    @media screen and (min-width: 1440px) {
        .categories {
            width: 50%;
            margin: 0 auto;
        }

        .category-list {
            justify-content: center;
            gap: 3rem;
        }
    }
}
