@use "utils/variables";

.profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  color: variables.$primary-color;
  margin-bottom: 1rem;

  &__image-wrapper {
    border-radius: 50%;
    overflow: hidden;
    height: 96px;
    width: 96px;
  }

  &__nickname,
  &__email {
    font-size: 1.2rem;

    &--bold {
      font-weight: bold;
    }
  }
}
