@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
}

html,
body {
  overflow-x: hidden;
}

html,
body,
#__next {
  height: 100%;
  min-height: 100%;
}

main {
  height: calc(100% - 68px);
}